body {
  font-family: sans-serif;
  margin: 0;
  outline: none;
}

section {
  border-radius: 8px;
  margin: 10px auto 0px;
  width: calc(100% - 40px);
  max-width: 600px;
  outline: none;
}

section.unfinished,
section.finished {
  min-height: 280px;
  padding-bottom: 20px;
}

.unfinished {
  background-color: rgba(163, 252, 197, 0.5);
}

.finished {
  background-color: rgba(255, 255, 160, 0.4);
}

.unfinished .container,
.finished .container {
  width: calc(100% - 100px);
  margin: 0 auto;
}

h3 {
  opacity: 0.5;
  padding: 15px 0px 25px;
  margin: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

input {
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  margin: 10px 5px 10px 10px;
  outline: none;
}

button {
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  background-color: rgb(235, 235, 235);
  padding: 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 141, 255);
  color: white;
}

.unfinished button,
.finished button {
  margin-left: 10px;
}

.unfinished ul button + button,
.finished ul button + button {
  margin: 0;
}

.message {
  background-color: white;
  border-radius: 8px;
  margin: 0;
  text-align: center;
  width: 300px;
  position: fixed;
  top: 40px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-150px);
  transition: 0.3s;
  z-index: 10;
}

p {
  margin: 0;
  padding: 20px 0px 15px;
}

.message button {
  width: 100px;
  padding: 6px;
  margin-bottom: 20px;
}

.appear {
  transform: translateX(-50%);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}
